body {
  background-image: url("../img/schedule/cssbackground\ \(2\).png");
}

  h1 {
    font-family: "League Spartan", sans-serif;
    color: #1f1812;
      padding-top: 60px;
      text-align: center;
      font-size: 80px;
      margin-bottom: 0px;
      font-weight: bold;
  }

  h2 {
    font-family: "League Spartan", sans-serif;
    color: #1f1812;
    text-align: center;
    font-size:70px;
    margin-top: 0px;
    font-weight: bold;
    font-style: italic;
}

  h3 {
    color: #f3e2c6;
    padding-top: 5px;
    padding-left: 20px;  
    font-size: 34px;
    font-family: "Libre Baskerville", serif;
}
   h4 {
    color: #6e0e0a;
    padding-top: 5px;
    padding-left: 20px;  
    font-size: 34px;
    font-family: "Libre Baskerville", serif;
}  

  h5 {
    color: #6e0e0a;
    padding: 5px;
    font-size: 28px;
  }

p {
    color: #f3e2c6;
    padding: 5px;
    font-size: 28px;
  }

  img {
    top: 400px;
    left: 400px;
    width: 50vw;
    position: sticky;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #5c0e24;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
  
  li a {
    display: block;
    color: #f3e2c6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #961d30;
  }
  
  .active {
    background-color: #6e0e0a;
  }
  